body{
    width: 100vw;
    height: 100vw;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: grid;
    
    overflow: hidden;
}

#contenedor .valor{
    width: 90px;
    height: 90px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    border: 1px solid purple;
    float: left;
}

#contenedor{
  width: 276px;
  text-align: center;
}

#resultado{
    position: relative;
    top: 10px;
    height: 1rem;
}