body{
    width: 100vw;
    height: 100vw;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
}

#contenedor .valor{
    width: 90px;
    height: 90px;
    font-size: 3rem;
    display: grid;
    place-items: center;
    border: 1px solid purple;
    float: left;
}

#contenedor{
  width: 276px;
  text-align: center;
}

#resultado{
    position: relative;
    top: 10px;
    height: 1rem;
    font-size: xx-large;
}

button{
    margin-top: 20px;
    margin-left: 200px;
}
