body {
    margin: 0;
    padding: 0;
    background-color: #0a0a18;
    color: #ccc;
  }
  h1 {
    width: 100%;
    text-align: center;
  }
  #ganador {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: larger;
    height: 50px;
  }
  #puntuacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #puntuacion-jugador,
  #puntuacion-computadora {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #puntuacion-jugador {
    margin-right: 15px;
  }
  #puntuacion-computadora {
    margin-left: 15px;
  }
  .acciones {
    margin-bottom: 30px;
  }
  #reiniciar {
    padding: 10px;
    border: none;
    color: #ccc;
    background-color: transparent;
    border: 1px solid white;
  }
  #reiniciar:hover {
    cursor: pointer;
    color: #222;
    background-color: #ccc;
    border: 1px solid black;
  }
  .centro {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  #cuadricula {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 160px 160px 160px;
  }
  
  .cuadro {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    transition: all 0.2s ease-out;
  }
  .cuadro:hover {
    background-color: rgba(14, 29, 234, 0.12);
    cursor: pointer;
  }

.cuadro-superior-izquierdo {
    
    border-bottom: 2px solid #ec0b0b;
    border-right: 2px solid #dd0606;
  }
  .cuadro-superior-central {
    
    border-bottom: 2px solid #dd0808;
  }
  .cuadro-superior-derecho {
   
    border-bottom: 2px solid #c80d0d;
    border-left: 2px solid #ea0b0b;
  }
  .cuadro-central-izquierdo {
   
    border-right: 2px solid #dc1414;
  }
  .cuadro-central {
    border: 2px solid #e50d0d;
  }
  .cuadro-central-derecho {
    
    border-left: 2px solid #df0b0b;
  }
  .cuadro-inferior-izquierdo {

    border-top: 2px solid #db1717;
    border-right: 2px solid #ba0505;
  }
  .cuadro-inferior-central {
    
    border-top: 2px solid #b40a0a;
  }
  .cuadro-inferior-derecho {
   
    border-top: 2px solid #911515;
    border-left: 2px solid #9f1515;
  }