body{
  width: 100vw;
  height: 100vw;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -400px;
}

#contenedor .valor{
  width: 90px;
  height: 90px;
  font-size: 3rem;
  display: grid;
  place-items: center;
  border: 1px solid purple;
  float: left;
}

#contenedor{
width: 276px;
text-align: center;
}

#resultado{
  position: relative;
  top: 10px;
  height: 1rem;
  font-size: xx-large;
}

button{
  margin-top: 20px;
  margin-left: 300px;
  background-color: #3c2048;
  border-radius: 14px;
  color: white;
  width: 80px;
  height: 40px;
}

.score{
  display: flex;
  justify-content: space-between;
  font-size: 1,5em;
  margin: 15px;
}

.score div span{
  height: 2em;
  width: 2em;
  background-color: rgb(209, 18, 238);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

marquee {
 height: 50px;
 width: 250px;
}


.volver{
  margin-top: 90px;
  margin-left: -200px;
  background-color: #9558ae;
  border-radius: 14px;
  color: white;   
}